.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#hobby {
  background-color: #e2edff;
}
section {
  padding-top: 6rem;
}
.tombolmuncul {
  cursor: pointer;
  background-color: #9309f2;
  border-radius: 20px;
  color: white;
}
